img{
    /* this has to remove */
    width: 450px;
    max-width: 100%;
}
*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
ul{
    list-style-type: none;
}
a, a:visited{
    text-decoration: none;
}






/* section 1 */


.top-section{
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding: 16px 40px 40px;
    gap:80px;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:20px;
}

.header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.header-links{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    width: 450px;
}

.header .logo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
    width: 500px;
}


.header-links li a{
    color: #e5e7eb;
}

.hero-text{
    width: 500px;
}



.hero-text h1{
    font-size: 48px;
    font-weight: 900;
}

.hero-text h3{
    font-size: 18px;
    font-weight: 100;
    color: #e5e7eb;
    margin: 20px 0;
}

.hero-text button{
    padding: 8px 20px;
    color: #e5e7eb;
    background-color: #3882f6;
    border: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 10px;
}





/* section 2 */
.information{
    padding-bottom: 100px;

}

.information h2{
    text-align: center;
    margin: 50px;
    font-weight: 700;
    font-size: 36px;
    color: #1f2937;
}

.cards{
    display: flex;
    gap:40px;
    justify-content: center;
    flex-wrap: wrap;
}

.card .image{
    width: 200px;
    height: 200px;
    border: 4px solid #3882f6;
    border-radius: 15px;
}
.card .text{
    width: 200px;
    margin-top: 10px;
    text-align: center;
    color:#5e5e5e;
    font-size: 18px;
}







/* section 3 */
.quote{
    padding: 100px 0;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .texts{
    width: 70%;
}

.quote .texts .author{
    text-align: right;
    font-style: normal;
    font-size: 20px;
    font-weight: 700;
}




/* Call to action */
.call-to-action{
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner{
    background-color: #3882f6;
    color: white;
    padding: 40px 60px;
    margin: 100px 0;
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:20px;
}
.banner button{
    background-color: #3882f6;
    color: white;
    border: 2px solid white;
    padding: 8px 25px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
}
.banner p{
    color: #e5e7eb;
}



/* footer */
.footer{
    background-color: #1f2937;
    color: white;
    display: flex;
    justify-content: center;
    padding: 30px 0;
}